html,body{
	margin: 0;
	padding: 0;
}
.clearfix:before{
	display: block;
	clear: both;
	content: "";
	height: 0;
	visibility: none;
}
#canvas{
	border: 1px solid #ccc; 
	display: block; 
	margin: 20px auto;
}
.btngroup{
	width: 800px;
	margin: 20px auto;
}
.clearbtn{
	float: right;
	width: 80px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	color: #000;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}
.clearbtn:hover{
	background: #eefafa;
}
.colorbtn{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 4px;
	border: 4px solid #fff;
}
.colorbtn.on, .colorbtn:hover{
	border: 4px solid #cd07cf;
}
#blackbtn{
	background: black;
}
#redbtn{
	background: red;	
}
#greenbtn{
	background: green;
}
#orangebtn{
	background: orange;
}
#bluebtn{
	background: blue;
}
#yellowbtn{
	background: yellow;
}

#clearbtn{
}






